---
import Layout from "../layouts/Layout.astro";
improt Img from "../img/dipper.jpg";
---

<Layout title="Para Jugar">
  <main>
    <article>
      <div>
		<h1>¿Quiénes somos?</h1>
	  </div>
      <p class="who">
        Somos un grupo de <span>amigos</span> que se ven a diario en discord, ya sea
        para jugar o simplemente charlar un rato de la vida. Hemos vivido muchos
        momentos: buenos, malos... Pero siempre estamos ahí para pasar un día con
        las personas que queremos y nos preocupa. <br /> Si quieres ser de la familia,
        solo tienes que contactarnos y hacer un pequeño <span>examen</span>.
      </p>
      <p class="message">¡¡¡TE ESPERAMOS!!!</p>
    </article>
	<div>
		<Img />
	</div>
  </main>
</Layout>

<style>

	main{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	article{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

  	article div h1 {
    	background-image: var(--accent-gradient);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	background-size: 200%;
    	background-position: 0;
    	color: white;
		font-size: 60px;
		text-align: center;
  	}

	article div{
		padding: 10px;
		margin-top: 40px;
	}

	img{
		border-radius: 50%;
		box-shadow: 5px 5px 10px black;
		width: 300px;
		margin-bottom: 60px;
	}

	.who{
		width: 50%;
		font-size: 40px;
		text-align: center;
	}

	.message{
		font-size: 70px;
		font-weight: 900;
		text-align: center;
		animation: speed 2.5s ease-out infinite;
	}

	@keyframes speed{
		0%{
			scale: 1.2;
		}
		50%{
			scale: 1.5;
		}
		100%{
			scale: 1.2;
		}
	}

	span{
		background-image: var(--accent-gradient);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	background-size: 200%;
    	background-position: 0;
	}

	@media (width < 500px) {
		.who{
			font-size: 30px;
			width: 85%;
		}
		article div h1{
			font-size: 50px;
		}
		.message{
			font-size: 30px;
		}
	}

</style>
