---
console.log("javascript")
---

<footer>
    <div>
        <p>
            &copy; 2024 Aroniii. Casi todos los derechos reservados
        </p>
    </div>
    <div>
        <a href="https://Instagram.com/aroniii911">Contacto</a>
        <a href="https://github.com/Aroniii563">Sobre él</a>        
    </div>
</footer>

<style>

    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50%;
        height: 50%;
        border-top: 1px solid black;
    } 

    div p{
        color: white;
        text-align: center;
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200%;
        background-position: 0;
        font-weight: 800;
    }

    div a{
        text-decoration: none;
        color: rgb(168, 101, 231);
        margin-left: 20px;
    }

</style>